    @import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
    body{
        background: rgb(0,0,0);
        color: white;
        text-align: center;
        background-image: url("https://freedesignfile.com/upload/2017/03/A-flower-of-dark-background-Stock-Photo-09.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    #title{
        font-size: 350%;
        color: rgb(204, 0, 18);
        text-shadow: 1px 1px 1px rgb(102, 51, 52);
        margin:-10px;
    }
    .Form{
        background: rgba(70, 0, 0, 0.5);
        margin: 3.125rem auto 0 auto;
        width: 400px;
        height: 860px;
        border-style: groove;
        border-width: 5px;
        border-radius:10px;
        border-color: red;
    }
    .Header{
        font-family: 'Reem Kufi', sans-serif;
    }
    p{
        font-size: 20px;
    }
    label{
        font-size: 18px;
    }
    .txtinput{
        border-radius: 10px;
        width: 200px;
        height: 20px;
    }
    .textarea{
        border-radius: 10px;
        width: 300px;
        height: 100px;
    }
    .BTN{
        width: 100px;
        padding: 3px;
        margin-left: 207px;
        border-radius: 4px;
    }
    .Padding{
        padding-right: 10px;
    }
    .BTN:hover{
        animation-name: cf;
        animation-duration: 700ms;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
    .etelaat{
        padding:20px;
    }
    .sisos{
        padding: 20px;
    }
    .nazar{
        padding: 20px;
    }
    hr{
        color: red;
    }
    @keyframes BTN{
        0% {
            background-color: rgb(204, 204, 251);
        }
        100%{
            background-color: rgb(54, 154, 247);
        }
    }