<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Book/css.css' %}">
</head>
<body>
<nav id="navbar">
    <header class="navhead">
        <h2>چه کسی پنیر من را جابجا کرد</h2>
        <p>اثر : اسپنسر جانسون</p>
    </header>
    <ul class="navul">
        <li class="li"><a class="nav-link" href="#preface">مقدمه</a></li><hr>
        <li class="li"><a class="nav-link" href="#First Chapter">فصل اول: معرفی</a></li><hr>
        <li class="li"><a class="nav-link" href="#second chapter">فصل دوم: نعمت</a></li><hr>
        <li class="li"><a class="nav-link" href="#third chapter">فصل سوم: عادت</a></li><hr>
        <li class="li"><a class="nav-link" href="#Fourth Season">فصل چهارم: پایان دنیا</a></li><hr>
    </ul>
    <div class="logo"><img src="http://uupload.ir/files/50iq_newlogo.png" alt="logo" class="center"> </div>
</nav>
<main id="main-doc">
    <header class="InTheNameOfGod">
        <h1>بسم‌لله‌الرحمن‌الرحیم</h1>
        <h3>( نیم نگاهی به کتابِ: چه کسی پنیر من را جابجا کرد )</h3>
    </header>
    <section class="main-section" id="preface">
        <header>
            <h2>✺ مقدمه :</h2>
        </header>
        <p>یک مقدمه خیلی زیبا و نسبتا طولانی در مورد این کتابی که میخوایم بنویسیم مینویسیم بدون پیشو پس.</p>
        <p>به همراه مقداری توضیحات اضافه درمورد خواهر و مادر طرف که این کتاب رو نوشته یا هر چیز دیگه فقط مهمه که کمی طولانی باشه.</p>
        <P>فقط من نمیدونم اخه سایت جای مناسبی هست برا نوشتن کتاب؟ قطعا نیست اما خب در این مرحله من باس اینجا یه توضیحانی بنویسم که منجرب این بشه که من این مرحله رو رد کنم انشالله روزی که مدرک بگیریم.</P>
        <p>این کتاب من حدود ۶-۷ ماه پیش خوندم، داستانش انقدر خوب و جذاب بود که این چیزا یادم مونده. امیدوارم بپسندید.</p>
          کد برای دیسپلی در سی اس اس:  <code>;display: flex; , display: block; , display: grid</code>
    </section><hr>
    <section class="main-section" id="First Chapter">
        <header>
            <h2>✺ فصل اول: معرفی</h2>
        </header>
        <p>در این داستان تخیلی اما عبرت آموز ما چهار شخصیت دارم که دوتی آنها انسان کوچک هستند و دوتای آنها موش، که تقریبا هم اندازه هم هستند و باهم رابطه دوستانه دارند و این چهر شخصیت در مکانی لوله مانند و پیچ در پیچ مانند هزار‌تو با دالان های پر پنیر زندگی میکنند.</p>
        <p>در اینجا تفاوت های میان قدرت های بین موش و انسان هست انها تیز و چابک هستند، انها خستگی ناپذیر هستند و حس بویایی خیلی خوب آنها به پیدا کردن پنیر ها در دالان کمک میکند.</p>
        <p>اما انسان سیستم بدنیش برای این نوع زندگی طراحی نشده اما انشان با کمک قوه عقل خود که یه صلاح خطرناکه میتونه همه کاری بکنه همه جا شرایط رو برا خودش مهیا کنه.</p>
        <p>بریم باهم ببینیم سرگذشت این دو موش و دو انسان در این مکان چطوری پیش میره.</p>
        کد برای پوزیشن : <code>position: absolute; , position: relative; , position: fixed;</code>
    </section><hr>
    <section class="main-section" id="second chapter">
        <header><h2>✺ فصل دوم: نعمت</h2></header>
        <p>موش ها و آدم ها از اول زندگی خود در دالان به شدت تلاش میکردن تا تکه های پنیری که داخل هزار تو افتاده پیدا کنند تا بتوانند به زندگی خود ادامه بدهند، موش ها بسیار چابک تر بودند و مقدار بیشتری هم پنیر نسیبشون میشد.</p>
        <p>انسان ها روزگاران خوشی نداشتند چون باس برای بدست آوردن پنیر بسیار تلاش کنند تا مگر تکه پنیری بدست آورند و آن روز را باهاش سر کنند. اما یک روز که صبح زود کفش هاشون رو پوشیدن و دنبال پنیر میدویدند، به راه جدیدی رفتند و پس از کمی جست و جو یه دالان بزرگ پنیر را پیدا کردن که بینهایت بزرگ و بینهایت پنیر تازه در آنجا بود مدتی بعد موش ها هم به آنجا رسیدند.</p>
        <p>آنها تا میتوانستند از آن پنیر ها خوردند جوری که دیگه نا راه رفتن نداشتند و همانجا خوابیدند.</p>
        <p>آنها بسیار خوشحال بودند و وقتی سیر و پر خوردند خدا را بابت این نعت که به آنها داده و دیگه لازم به این نبود که هر روز صبح بلند شن و سگ‌دو بزنن نبود، شکر کردند.</p>

    </section><hr>
    <section class="main-section" id="third chapter">
        <header><h2>✺ فصل سوم: عادت</h2></header>
        <p>یه مدتی گذشت، اوضا خیلی بر وفق مراد بود، موش ها طبق معمول غریزه باز هم هر روز صبح زود بلند میشدند و غذا میخوردند و اطراف نگاهی مینداختن، و انسا ها هم دیگه برای خودشون خانه ای درست کرده بودند، و خیالشان راحت بود که تا سالیان سال نیاز به گشتن ندارن کفش های ورزشی خودشونو انداختند به گوشه ای و صبح ها دیر تر و دیرتر بیدار میشدند و عادت کرده بودند به این شرایط مطولب پیش آمده،</p>
        <p>آنها چاق شدند تنبل شدند و هر روز را بدون توجه به اطراف و بدون برسی فقط مشغول زندگی و خوردن شدند، حتی آنها از درد و رنجی که کشیده بودند یادشون رفته بود، یادشون رفته بود که چه روزهایی چه زحمتی برای پیدا کردن یه تکه کوچیک پنیر سگ‌دو میزدند.</p>
    </section><hr>
    <section class="main-section" id="Fourth Season">
        <header><h2>✺ فصل چهارم: پایان دنیا</h2></header>
        <p>بعله گذشت و گذشت، تا اینکه یک روز ظهر که از خواب بلند شدند، دیدن اون کوه پنیر نیست، حتی یه ذره هم نمونده بود و فقط یه محوطه خالی مونده بود، با بهت و تعجب هم‌خانه خودشو بیدار کرد و گفت چی شده، کی پنیر رو جابجا کرد؟ کی پنیر منو جابجا کرد! چی شد؟ چرا ما هیچی نفهمیدیم؟ و کل روز در بغض و گریه و اشک گذشت، باخودشون میگفتن حتما خوابه؟ فردا که بیدار شیم دباره پنیرمون هست.</p>
        <p>فردا بلند شدن باز هیچ نبود حتی یه تیکه، دباره نشستن به گریه و زاری، همینطوری گشنگی کم کم بهشون شروع کرد به فشار آوردن، یکی گفت آخه چی شد که اینطوری شد، چطور میشه یهو غیب بشه؟</p>
        <p>شب شد خیلی گشنه بودن در حد هلاک شدن، دو موش رو دیدن که برگشتن به لانه شان و کفش های ورزشی خودشونو درآوردن به گردنشان آویزون کردن، دو انسان رفتن پیششون، پرسیدن چی شد؟ چرا اینطوری شد؟ کی پنیر رو برد؟ شما برش داشتین؟ راستشو بگو، کجابردینش اناهاش شما تیکه هایی ازش هم دستتونه، چرا همیچین کاری کردین. موش ها خندیدن تکه پنیری که از هزارتو کشف کرده بودن دادن به اون دو انسان تا هلاک نشن و به آنها گفتن: حالتون خوبه؟ مگه ندیدین که کوه پنیر داشت کوچیک و کوچیک تر میشد و بالاخره تمام شد؟</p>
        <p>آن دو انسان با تعجب هم رو نگاه کردن...! کی؟ تا انجا که ما یادمان هست همیشه بزرگ و بی انتها بوده، اصلا ندیدیم که چی شد...</p>
        <p>آن دو انسان هنوز فکرشان درگیر این بود که نه این یه خوابه بده این یه کابوسه بیدار میشیم و باز اون کوه پنیر هست و وجود داره، و دباره شب با گرسنگی خوابیدین، صبح زود موش ها بیدار شدن کفش های خودشونو پوشیدن و دباره به جستو و جو ادامه دادند. و طبق عادت چندین ساله انسان ها ظهر بیدار شدن و باز هیچی نیافتن. یکی از انسان ها پذیرفت که دیگه پنیری نیست، دیگه پنیری وجود نداره، و خواست به طرف دیگه بفهمونه که از این خواب پاشه اگه تکون نخوره میمیره، باس بگردن دنبال غذا، اما اون یکی هنوز نمیخواست از خواب خوش اون روز های پر نعمت بیدار بشه...</p>
        <p>این داستان ادامه دارد... پیشنهاد میکنم حتما این کتاب رو مطالعه کنین واقعا ارزششو دارد.</p>
    </section><hr>
    <article> <!-- some code to complete mission -->
        در پایان برای پایان دادان به این مرحله مجبوریم چند کد بنویسیم:<br>
        at the end, just for Mission going to complete i write some code:<br>
        <code>display: grid , display: flex; , display: block; </code><br>
        <code>position: absolute; , position: relative; , position: fixed;</code><br>
        <code>background: linear-gradient();</code><br>
        <code>@keyframes (animation-name) {\*css code*\}</code>
    </article>
</main>
</body>
</html>